*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0f25;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    max-width: 250px;
    margin-bottom: 60px;
}

.container{
    width: 480px;
    background-color: #141534;
    color: #B2B8DE;
    padding: 56px 64px;
    border-radius: 24px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user-input input,
.user-input select {
    background: #0E0F25;
    color: #B2B8DE;
    padding: 16px 20px;
    border-radius: 8px;
    border: #1F2151 1px solid;
}

#btn {
    margin-top: 48px;
    padding: 16px 20px;
    background-color: #2F34AB;
    color:#F1F2F6;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.resultado {
    background-color: #23255A;
    text-align: center;
    padding: 40px;
    border-radius: 0px 0px 24px 24px;
}

.resultado p:first-child {
    color: #7D8DEC;
    margin-bottom: 8px;
}

.resultado p:last-child {
    color: #F1F2F6;
    font-size: 32px;
    font-weight: bold;
}

}


